ul#conjunto-simbolos {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}
ul#conjunto-simbolos li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid rgba(32, 178, 170, 0.3);
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in;

}

ul#conjunto-simbolos li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12pt;
	line-height: 370px;
	padding: 5px;
}

ul#conjunto-simbolos li:hover {
	-webkit-transform: scale(1.2);
}

ul#conjunto-simbolos li:hover span {
	opacity: 1;
}

ul#conjunto-simbolos li#simb-nike {
	background: url("../Imagens/logo-nike.jpg");
	background-position: 50% 50%;
	background-size: 250px 250px;
	background-color: white;

}
ul#conjunto-simbolos li#simb-adidas {
	background: url("../Imagens/logo-adidas.jfif");
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: white;

}
ul#conjunto-simbolos li#simb-puma {
	background: url("../Imagens/logo-puma.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 190px 190px;
	background-color: white;

}
ul#conjunto-simbolos li#simb-jordan {
	background: url("../Imagens/logo-jordan.jpg");
	background-position: 50% 50%;
	background-size: 250px 250px;
	background-color: white;

}
ul#conjunto-simbolos li#simb-converse {
	background: url("../Imagens/logo-converse.jpg");
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;

}
ul#conjunto-simbolos li#simb-balance {
	background: url("../Imagens/logo-new-balance.png");
	background-position: 50% 50%;
	background-size: 200px 200px;
	background-color: white;

}
ul#conjunto-masc {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}
ul#conjunto-masc li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid rgba(32, 178, 170, 0.3);
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in;

}

ul#conjunto-masc li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12pt;
	line-height: 370px;
	padding: 5px;
}

ul#conjunto-masc li:hover {
	-webkit-transform: scale(1.2);
}

ul#conjunto-masc li:hover span {
	opacity: 1;
}

ul#conjunto-masc li#simb-nike {
	background: url("../Imagens/nike/nike01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-masc li#simb-adidas {
	background: url("../Imagens/adidas/adidas01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-masc li#simb-puma {
	background: url("../Imagens/puma/puma01.png") no-repeat;
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-masc li#simb-jordan {
	background: url("../Imagens/jordan/jordan01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-masc li#simb-converse {
	background: url("../Imagens/converse/converse01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-masc li#simb-balance {
	background: url("../Imagens/new/new01.png");
	background-position: 50% 50%;
	background-size: 210px 210px;
	background-color: white;

}

ul#conjunto-fem {
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}
ul#conjunto-fem li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid rgba(32, 178, 170, 0.3);
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.2s ease-in;

}

ul#conjunto-fem li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12pt;
	line-height: 370px;
	padding: 5px;
}

ul#conjunto-fem li:hover {
	-webkit-transform: scale(1.2);
}

ul#conjunto-fem li:hover span {
	opacity: 1;
}

ul#conjunto-fem li#simb-nike {
	background: url("../Imagens/nike/nike-fem01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-fem li#simb-adidas {
	background: url("../Imagens/adidas/adidas-fem01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-fem li#simb-puma {
	background: url("../Imagens/puma/puma-fem01.png") no-repeat;
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-fem li#simb-jordan {
	background: url("../Imagens/jordan/jordan-fem01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-fem li#simb-converse {
	background: url("../Imagens/converse/converse-fem01.png");
	background-position: 50% 50%;
	background-size: 230px 230px;
	background-color: white;

}
ul#conjunto-fem li#simb-balance {
	background: url("../Imagens/new/new-fem01.png");
	background-position: 50% 50%;
	background-size: 210px 210px;
	background-color: white;

}
